<html>
  <head>
    <title>Elara Services</title>
    <meta property="og:site_name" content="Elara Services">
    <meta property="og:title" content="Pastebin">
<meta property="og:image" content="https://cdn.elara.workers.dev/d/icons/Elara.png">
<meta name="theme-color" content="#0669bf">
<meta property="og:description" content="Elara Services">
        <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
  </head>
  <%- include("./partials/basic")%>
  <style>
    .btn-group button {
  background-color: #0669bf;
  border: 1px solid black; 
  color: white;
  padding: 5px 10px;
  cursor: pointer;
  float: right; 
}
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

.btn-group button:not(:last-child) {
  border-right: none;
}

.btn-group button:hover {
  background-color: darkblue;
}
/* .alert {
  padding: 5px;
  background-color: darkred;
  color: white;
} */

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 1s ease;
}

.closebtn:hover {
  color: black;
}
</style>
<body>
  <%- include("./partials/nav")%>
  <div class="alert alert-primary alert-dismissible fade show" role="alert">
  <strong>Expires:</strong> <%- `${new Date(expire).toLocaleString()} (${new Date(expire).toISOString()})`%>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
  <style>
    .dropdown-menu {
      background: #0669bf;
      color: white;
    }
    .dropdown-menu a {
      color: white;
    }
    .dropdown-item:hover {
      background: #0669bf;
      color: white;
    }
  </style>
      <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
      <div class="btn-group" role="group">
        <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background: #0669bf; color: white;">
          Options
        </button>
        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
          <a class="dropdown-item" style="cursor: pointer;" id="copy-url">URL</a>
          <a class="dropdown-item" style="cursor: pointer;" href="https://view.elara.workers.dev/raw/<%- id %>">Raw</a>
        </div>
        </div>
    </div>
  <br>
  <script>
    $('a#copy-url').on('click', function(event) {
	var tempElement = $('<input>').val(`https://view.elara.workers.dev/bin/<%- id %>`).appendTo('body').select();
	document.execCommand('copy');
	tempElement.remove();
});
</script>
    <pre><code class="lang-<%= lang %>"><%= content %></code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/vs2015.min.css"/>
    <script>hljs.initHighlightingOnLoad();</script>
</body>
</html> 